{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block content %}
<div>
	<br>
	<div>
		<a class="reg-but" href="{% url 'admin:product_create' category.pk %}">Новый продукт</a>	
	</div><br><br>
	{% for object in objects %}
	<div class="{% if not object.is_active %}not_active{% endif %}">
		<img src="/media/{{object.image|default:'​ products_images/default.jpg​ '}}"
		alt="{{ object.name }}" height="300"><br>
		<div>
			{{ object.name|title }}
		</div><br><br>
		<div>
			<a class="reg-but" href="{% url 'admin:product_read' object.pk %}">
				подробнее
			</a>
			<a class="reg-but" href="{% url 'admin:product_update' object.pk %}">
				редактировать
			</a>
			<a class="reg-but" href="{% url 'admin:product_delete' object.pk %}">
				удалить
			</a>			
		</div><br>
		<div>
			<b>цена</b>
			<span>{{ object.price }} руб</span><br>
			<b>количество</b>
			<span>{{ object.quantity }}</span>
		</div><hr><br><br><br><br><br>
	</div>
	{% endfor %}	
</div>
{% endblock %}
