{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
  {{ block.super }}
  {{ title|title }}
{% endblock %}

{% block content %}
  <h1>Главная</h1>
  <p class="topic"><b><ins>Добро пожаловать в&nbsp;будущее игр</ins></b></p>
  <img src="/static/img/PS4.jpg" alt="PS4" height="200">
  <p class="long">Играйте
    <nobr>по-новому</nobr>. Более тонкая и&nbsp;компактная PS4 предлагает потрясающую игровую мощь для тех, кто играет.</p>
  <p class="long">Обновленная более тонкая PS4. Храните свои игры, приложения, снимки и&nbsp;видеоролики на&nbsp;консоли с&nbsp;жестким диском на&nbsp;500 Гб&nbsp;или 1 Тб&nbsp;&mdash; доступны более компактные и&nbsp;легкие модели PS4 в&nbsp;сравнении с&nbsp;оригиналом
    в&nbsp;расцветках &laquo;Антрацитовый черный&raquo;, &laquo;Белый ледник&raquo;,<br /> а&nbsp;теперь также в&nbsp;потрясающих расцветках &laquo;Золотой&raquo; и&nbsp;&laquo;Серебряный&raquo;.</p>
  <p class="long">Игры с&nbsp;прекрасной графикой HDR. Игры для PS4, поддерживающие технологию HDR, оживают благодаря невероятной четкости и&nbsp;насыщенному цвету на&nbsp;экранах телевизоров, поддерживающих HDR, и&nbsp;предлагают более яркий и&nbsp;реалистичный спектр
    цветов.
  </p>
{% endblock %}
